# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/

# Tools
.mypy_cache/
.ruff_cache/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Environment
.env
